<ion-view title="Sp Gr Readings" ng-controller="BatchSGReadingsCtrl as vm">
  <ion-content class="has-header">


<H3 style="text-align:center">
New value: {{vm.newReadingValue}}
</H3>
<div class="range range-assertive" >
    <i class="icon ion-ios7-sunny-outline"></i>
    <input type="range" min="0.99" max="1.15" step="0.001" ng-model="vm.newReadingValue">
    <i class="icon ion-ios7-sunny"></i>
</div>

<div class="row">
  <div class="col col-33"></div>
  <div class="col col-33">
      <button class="button button-clear button-positive button-full" ng-click="vm.saveNewReading(vm.newReadingValue)">Save</button>

  </div>
  <div class="col col-33"></div>
</div>


    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="spGrReading in vm.batch.spGrReadings | filter: vm.notStarted | orderBy : '-readingDate'" type="item-text-wrap" ng-click="vm.selectBatch(batch.id)">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{spGrReading.readingDate  | date:'MMM d, yyyy'}}</h2>
        <p>{{spGrReading.readingValue}}</p>


        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="vm.remove(spGrReading)">
          Delete
        </ion-option-button>

        <ion-option-button class="button-positive" ng-click="vm.edit(spGrReading)">
          Edit
        </ion-option-button>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
