<ion-view title="All Batches" ng-controller="BatchesCtrl as vm">
    <ion-nav-buttons side="secondary">
          <button class="button button-clear" ui-sref="app.batches-new">
            New
          </button>
        </ion-nav-buttons>

    <ion-content class="has-header">

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.loadList(true)"></ion-refresher>

        <div class="item item-divider item-light">
            Not Yet Started
        </div>

        <ion-list>

            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="batch in vm.batches | filter: vm.notStarted" type="item-text-wrap" ng-click="vm.selectBatch(batch.id)">
                <h2>{{batch.juiceType}}</h2>
                <p>{{batch.juiceBrand}} (Id: {{batch.id}})</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="vm.remove(batch)">
                    Delete
                </ion-option-button>
                <ion-option-button class="button-positive" ng-click="vm.edit(batch)">
                    Edit
                </ion-option-button>
            </ion-item>

        </ion-list>

        <div class="item item-divider item-light">
            Fermenting
        </div>

        <ion-list>

            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="batch in vm.batches | filter: vm.fermenting" type="item-text-wrap" ng-click="vm.selectBatch(batch.id)">
                <!-- <img ng-src="{{chat.face}}"> -->
                <h2>{{batch.juiceType}}</h2>
                <p>{{batch.juiceBrand}} (Id: {{batch.id}})</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="vm.remove(batch)">
                    Delete
                </ion-option-button>
                <ion-option-button class="button-positive" ng-click="vm.edit(batch)">
                    Edit
                </ion-option-button>
            </ion-item>

        </ion-list>

        <div class="item item-divider item-light">
            Bottled
        </div>

        <ion-list>

            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="batch in vm.batches | filter: vm.bottled" type="item-text-wrap" ng-click="vm.selectBatch(batch.id)">
                <!-- <img ng-src="{{chat.face}}"> -->
                <h2>{{batch.juiceType}}</h2>
                <p>{{batch.JuiceBrand}} (Id: {{batch.id}})</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="vm.remove(batch)">
                    Delete
                </ion-option-button>
                <ion-option-button class="button-positive" ng-click="vm.edit(batch)">
                    Edit
                </ion-option-button>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>
