<ion-view title="Edit Inventory" ng-controller="EditInventoryCtrl as vm">

    <ion-content class="has-header">

        <form ng-submit="vm.updateBatch('app.batches-detail')" name="form">

            <div class="list">
                <!-- to-do: validation -->
                <label class="item item-input">
                    <input type="number" placeholder="Inventory" ng-model="vm.batch.bottleInventory" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Age-to Date</span>
                    <input type="date" ng-model="vm.batch.ageToDate">
                </label>

            </div>

            <button ng-disabled="form.$invalid" class="button">Save</button>
        </form>

    </ion-content>

</ion-view>
