/* Empty. Add your own CSS if you like */
.batchdate {
  font-weight: bold;
    background-color: #f8f8f8;
    border-left-width: thin;
    border-left-color: white;
    border-left-style: solid;

}

.batchaction {
  font-weight: bold;
  background-color: #f8f8f8;



}

.batchperiod {

}

.batchtime {
  font-weight: bold;

}

.sglabel {

}

.sgvalue {

}



.activephase {
  border-left-width: thick;
  border-left-color: yellow;
  border-left-style: ridge;
}
